.carousel .carousel-item {
  cursor: pointer;
  padding: 15px;

  .dog-card-img {
    width: 75%;
    border: 2px solid gray;
    border-radius: 100%;
  }
}

.dashboard-layout {
  display: grid;
  grid-template-columns: 10% 1fr;
  max-height: 100dvh;
  height: 100dvh;
  overflow: hidden;

  & > * {
    height: 100%;
  }

  &.responsive {
    grid-template-columns: 100%;
  }

  .nav {
    display: grid;
    grid-template-rows: 1fr 75% 1fr;
    padding: 25px 0px;
    max-height: 100dvh;
    min-height: 100dvh;
    height: 100dvh;

    .logo-container {
      padding: 25px;
    }

    .links {
      overflow-y: auto;
      height: 100%;
      padding: 10% 0px;
      list-style: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 50px;

      &::-webkit-scrollbar {
        width: 7.5px;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 25px;
        background: var(--orange);
      }

      .link-item {
        width: 25%;
      }
    }

    .logout-container {
      position: relative;
      cursor: pointer;
      background-color: #fff;

      img {
        position: relative;
        width: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  .main {
    background-color: var(--grey);
    padding: 50px 7.5%;
    overflow-y: auto;
  }
}
